html{
    font-family: 'Roboto', sans-serif;
}

.navbar-top {
    background-color: white;
    border-bottom: 1px gainsboro solid;
}

.item-navbartop{
    margin-left: 100px;
}

.form-search{
    margin-right: 400px;
}

.user-logo-nav{
    color: gray;
}

.area-right-nav{
    margin-right: 100px;
}

.input-search{
    border-radius: 25px;
}

.forgotPassword{
    float: right;
    color: gray;
    margin: 10px;
}

.btn-login{
    margin-top:20px;
    width: 100%;
    color: white;
    background-color:#0A1421;
}

.btn-login:hover{
    background-color: rgb(69, 68, 68);
}

.btn-login-facebook{
    width: 100%;
    color: white;
}

.no-have-account{
    margin-top:10px;
    text-align: center;
    color: gray;
}

.orLableLogin{
    margin-top:10px;
    text-align: center;
    color: gray;
}

.text-processing{
    color: black;
    font-size: 20px;
}

.text-pending{
    color: gray;
    font-size: 20px;
}

.saperate{
    font-size:20px;
}
.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 350px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: 0px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        